html {
  width: 100%;
  height: 100%;
}

.text-white-75 {
  color: fade-out($white, .25);
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
}
.delay{
  opacity: 0;
  -webkit-transition: 1.2s;
  transition: 2.2s;
  transition: all 2.2s ease-out;
}
.delay-show{
  opacity: 1;
}
hr.light {
  border-color: $white;
}
.m4{
  color: #ffffff;
}
.btn {
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.page-section {
  padding: 8rem 0;
}