header.masthead {
  padding-top: 44rem;
  padding-bottom: calc(8rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out($orange, .99)} 0%,#{fade-out($orange, .2)} 100%), url('../images/profilbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .delay-left{

    opacity: 1;
      -webkit-transition: 1.2s;
      transition: 1.2s;
      transition: all 1.2s ease-out;
      margin-left: 300px;
      color: wheat;
  
  }

  .delay--enter{
    opacity: 1;
    margin-left: -300px;
    color: white

  }
  h1 {
    margin-top: 500px;
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
    h3{
color: rgba($color: #2d2121, $alpha: 1.0)    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
